<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PhotoColors</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="photos">
            {% for i in images %}
            <div style="margin:20px auto;">
                <img style="width:400px;" src="{{ i.url }}" />
                <div style="height: 195px; width:375px; border:1px solid #000;">
                {% for c in i.colors %}
                    <div style="float:left; width: 75px; height: 195px; background-color: #{{ c }};"></div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
